<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Model-Template-Views Paradigm</title>
  </head>
  <body>
    <h1>This is Django MTV Paradigm!</h1>
    <h2>Here are your records:-</h2>
    <div class="DjangoMTV">
      {% if accessrecord %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>

        {% for acc in accessrecord %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}

      </table>
      {% else %}
      <p>No records found!</p>
      {% endif %}

    </div>

  </body>
</html>
